<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head.ejs') %>
        <title>SLUH Car Club</title>
</head>

<body>
    <h1 class="header">SLUH Car Club</h1>
    <div class="admin-content content">
        <h1>cars</h1>
        <div id="cars-btns">
            <button id="create-pdf">Create PDF</button>
            <div id="pagination-btns">
                <button id="last-page">Last Page</button>
                <button id="next-page">Next Page</button>
                <span id="page-num"></span>
            </div>
        </div>
        <table id="cars">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th><!-- Checkbox  -->
                    <th>Owner</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
    <script src="../cars-script.js"></script>
</body>

</html>