<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head.ejs') %>
        <title>SLUH Car Club</title>
</head>

<body>
    <h1 class="header">SLUH Car Club</h1>
    <div class="admin-content">
        <span style="margin-top: 0.5rem;" id="config-msg"></span>
        <div id="config-values">
            <div class="config-value">
                <input type="checkbox" id="voting">
                <label>Voting Open</label>
            </div>
            <div class="config-value">
                <input type="checkbox" id="registration">
                <label>Registration Open</label>
            </div>
            <div class="config-value">
                <input type="checkbox" id="requireLogin">
                <label>Require Login</label>
            </div>
            <div class="config-value">
                <label>Upcoming Meet ID</label>
                <input type="text" id="meetId">
            </div>
        </div>
        <div id="cars-btns">
            <button id="update-btn">Update Config</button>
        </div>
    </div>
    <script src="../config-script.js"></script>
</body>

</html>