<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head.ejs') %>
        <title>SLUH Car Club Admin</title>
</head>

<body>
    <h1 class="header">SLUH Car Club</h1>
    <div class="admin-content content">
        <h1>Admin Dashboard</h1>

        <h3 style="font-weight: 700;" id="car-create-msg">Create a Car</h3>
        <input type="text" name="owner" id="owner-in" placeholder="John Doe" />
        <input type="number" name="year" id="year-in" placeholder="1908" />
        <input type="text" name="make" id="make-in" placeholder="Ford" />
        <input type="text" name="model" id="model-in" placeholder="Model T" />
        <input type="text" name="searchphrase" id="searchphrase-in" placeholder="Search Phrase (Not Required)" />
        <input type="checkbox" name="download" id="download-in"> <label for="download-in"
            class="download-label">Download PDF Now?</label>
        <div class="icon-button admin-btn" id="car-create-btn">
            <i class="fa fa-car-side"></i> <span>Create Car</span>
        </div>
        <a href="/admin/votes">
            <div class="icon-button admin-btn" id="votes-btn">
                <!-- <i class="fa fa-list-ul"></i> -->
                <span>Top Votes</span>
            </div>
        </a>
        <a href="/admin/config">
            <div class="icon-button admin-btn">
                <i class="fa fa-cog"></i>
                <span>Configuration</span>
            </div>
        </a>
        <a href="/admin/cars">
            <div class="icon-button admin-btn">
                <i class="fa fa-list-ul"></i>
                <span>Cars</span>
            </div>
        </a>
        <a href="/admin/users">
            <div class="icon-button admin-btn">
                <i class="fa fa-list-ul"></i>
                <span>Users</span>
            </div>
        </a>
        <div id="data"></div>
        <script src="admin-script.js"></script>
    </div>
</body>

</html>