<div class="footer">
    <div class="socials">
        <a href="http://twitter.com/" class="fab fa-twitter twitter"></a>
        <h1>Socials</h1>
        <a href="http://twitter.com/" class="fab fa-instagram instagram"></a>
    </div>
</div>