<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>SLUH Car Club</title>
</head>

<body>
    <h1 class="header">SLUH Car Club</h1>
    <div class="content">
        <a href="/api/auth/google" class="login">
            <div class="icon-button">
                <i class="fab fa-google"></i> <span>Login With Google</span>
            </div>
        </a>
    </div>
    <%- include('footer.ejs') %>
</body>

</html>